body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather',serif;
    color: #40514E;
}

.top-container{
    padding-top: 100px;
    background-color:#E8FFCE ;
    line-height: 2;

}
.middle-container{
    margin: 100px 0px;
}
.bottom-container{
    background-color:  #66BFBF;
    margin-bottom: 0px;
    padding: 50px 0 20px;
    
    
}

a{
    color: #11999E;
    font-family: 'Montserrat',serif;
    text-decoration: none;
}
a:hover{

    color: #EAF6F6;
}
.python-img{
    border-radius: 50%;
    float: left;
    width: 25%;
    padding-right: 30px;
}
.cpp-img{
    border-radius: 50%;
    float: right;
    width: 25%;
    padding-left: 30px;
}


h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento',serif;
    font-size: 5.625rem ;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat',serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat',serif;
    color: #11999E;

}
.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #11999E;
    padding: 9px 24px 10px 24px;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

hr{
    border: dotted #EAF6F6 6px;
    border-bottom:none ;
    width: 4%;
    margin: 100px auto;
}

.bottom-cloud{
    position: absolute;
}
.top-cloud{
    position: relative;
    left: 350px;
    
}
.skill-row{
    display: inline-block;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}
.contact-me{
    margin-bottom: 20px;
    line-height: 2;
    
}
.intro{
    width: 30%;
    margin: auto;
}
p{
    line-height: 2;
    
}

.copyright{
    color: #EAF6F6;
    font-size:0.75rem ;
    padding: 20px 0px;
}